# Teams & Roles

Quantinuum Nexus offers secure and flexible ways of sharing data and managing workflows. To that end we have the following concepts:

- `Team`: a group of users.
- `Roles`: a named role with specific permissions.

A `Role` can be assigned to a `Team` or `User` to give specific permissions on a particular `Project` or resource in Nexus. 

These are concepts are related purely to collaboration and permissions, and are not related to metering or quotas.

In [1]:
import qnexus as qnx
from datetime import datetime

In [2]:
# List teams I am a member of
qnx.teams.get_all().df()

,name,description,id
0,qnexus_integration_test_team_2024-07-16 14:06:...,This can be safely deleted. Test Run: 2024-07-...,b171bbff-b69e-4a4b-8084-cf1781febab4
1,qnexus_integration_test_team_2024-06-10 13:05:...,This can be safely deleted. Test Run: 2024-06-...,7f80a42d-0e76-48c0-a5b3-329f575d1ddd
2,qa_test_team_2024-06-06 09:41:43.073563,A test team (can be deleted),f3569356-a012-4bee-98d7-9f7621189863
3,qnexus_integration_test_team_2024-07-16 12:03:...,This can be safely deleted. Test Run: 2024-07-...,19f76ca5-b6b2-4345-bc87-7ef4f1171f33
4,qnexus_integration_test_team_2024-07-16 14:08:...,This can be safely deleted. Test Run: 2024-07-...,ebe1aa0a-f519-45be-9642-62cd0294d122
...,...,...,...
232,qa_test_team_2024-07-17 10:16:41.578004,A test team (can be deleted),91934c76-217b-44c8-ae59-609c2ab0564e
233,qnexus_integration_test_team_2024-06-23 12:03:...,This can be safely deleted. Test Run: 2024-06-...,1a4e547b-4c6f-481d-976c-428094e41595
234,qa_test_team_2024-07-08 09:45:23.793952,A test team (can be deleted),a4d96995-4e6b-4829-b3ab-045215454241
235,qa_test_team_2024-07-16 14:57:31.815484,A test team (can be deleted),8db66549-4a61-48df-aef2-28bc6338cded
236,qa_test_team_2024-06-10 08:57:32.843209,A test team (can be deleted),71882692-dde4-4b6d-a2c2-dcdc3a4893ee

In [3]:
# Create a new Team

my_team = qnx.teams.create(name=f"My Team, created on {datetime.now()}")

### Assigning a Role to a Team

By default when you create a Project, only you will be able to view/manage the contents of that project.

Lets take the team we created and give it a `Contributor` role on a new Project.

In [4]:
# Get possible roles in Nexus and render them in a DataFrame
nexus_roles = qnx.roles.get_all()

nexus_roles.df()

,name,description,permissions,id
0,Administrator,"Can delete, create, update and view a resource...","['ASSIGN', 'DELETE', 'WRITE', 'READ']",0aac6c63-d130-49bb-ad34-f08005403cc5
1,Contributor,"Can create, update and view a resource or reso...","['WRITE', 'READ']",5963c1c4-85cd-46c0-8d45-a74a4fd32e80
2,Reader,Can view a resource or resources within a proj...,['READ'],d8b48a66-37b7-4ef9-9487-34e007ed9080
3,Maintainer,"Can delete, create, update and view a resource...","['DELETE', 'WRITE', 'READ']",983cc6c6-c4f7-4540-906e-a0aaed813cd8

In [5]:
my_new_project = qnx.projects.create(name=f"My project with {my_team.name} team")

In [6]:
# Assign a contributor role to the team on my new project

qnx.roles.assign_team(
    resource_ref=my_new_project,
    team=my_team,
    role="Contributor"
)

In [7]:
# View the assigned roles on a particular project or resource

qnx.roles.assignments(resource_ref=my_new_project).df()

,assignment_type,assignee,role
0,user,qa_nexus_staging_pytket-nexus@mailsac.com,Administrator
1,team,"my team, created on 2024-07-18 18:45:26.419901",Contributor