In [1]:
import qnexus as qnx

In [ ]:
# Get all roles

roles = qnx.assignment.filter()

roles.summarize()

In [ ]:
# Fetch a project

project_ref = qnx.project.get(name="VanyaTest")

project_ref.summarize()

In [ ]:
# Fetch a team

team_ref = qnx.team.get(name="test")

team_ref.summarize()

In [ ]:
# Assign a team as a contributor on a project

qnx.assignment.assign_team_role(
    resource_ref=project_ref,
    team=team_ref,
    role="Contributor"
)

In [ ]:
qnx.assignment.assign_user_role(
    resource_ref=project_ref,
    user_email="vanya.eccles@quantinuum.com",
    role="Maintainer"
)

## Checking Quotas

In [4]:
quota_list = qnx.quota.get()

In [6]:
import pandas as pd


pd.concat([item.df() for item in quota_list], ignore_index=True)

/var/folders/zd/mk473y3x6cx1l_t3n_0x8r280000gn/T/ipykernel_30837/1997189106.py:4: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  pd.concat([item.df() for item in quota_list], ignore_index=True)

,name,description,usage,quota
0,database_usage,Total megabytes used to store scientific data.,7.278914,1000.5
1,simulation,"Total CPU running time, in seconds.",0.000000,NaN
2,jupyterhub,"Total Jupyterhub notebook server running time,...",9240.000000,NaN
3,compilation,"Total CPU running time, in seconds.",0.001700,NaN

In [3]:
qnx.quota.get().df()

/Users/vanyaeccles/CQC/qnexus/qnexus/references.py:43: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat([item.df() for item in self], ignore_index=True)

,name,description,usage,quota
0,database_usage,Total megabytes used to store scientific data.,7.278914,1000.5
1,simulation,"Total CPU running time, in seconds.",0.000000,NaN
2,jupyterhub,"Total Jupyterhub notebook server running time,...",9240.000000,NaN
3,compilation,"Total CPU running time, in seconds.",0.001700,NaN

In [4]:
db_quota = qnx.quota.get_only("database_usage")

db_quota.df()

,name,description,usage,quota
0,database_usage,Total megabytes used to store scientific data.,7.278914,1000.5

In [ ]:
qnx.quota.check_quota("compilation")