In [1]:
import qnexus as qnx

In [2]:
# Get all roles

roles = qnx.assignment.get()

roles.df()

,name,description,permissions,id
0,Administrator,"Can delete, create, update and view a resource...","['ASSIGN', 'DELETE', 'WRITE', 'READ']",0aac6c63-d130-49bb-ad34-f08005403cc5
1,Contributor,"Can create, update and view a resource or reso...","['WRITE', 'READ']",5963c1c4-85cd-46c0-8d45-a74a4fd32e80
2,Reader,Can view a resource or resources within a proj...,['READ'],d8b48a66-37b7-4ef9-9487-34e007ed9080
3,Maintainer,"Can delete, create, update and view a resource...","['DELETE', 'WRITE', 'READ']",983cc6c6-c4f7-4540-906e-a0aaed813cd8

In [7]:
# Fetch a project

project_ref = qnx.project.get_only(name_like="VanyaTest")

project_ref.df()

,name,description,created,modified,contents_modified,id
0,VanyaTest,,2024-01-29 13:38:27.351099+00:00,2024-01-29 13:38:27.351099+00:00,2024-05-20 14:46:51.104662+00:00,6ed750a5-de0c-4879-a771-2c1f3f746d18

In [5]:
# Fetch a team

team_ref = qnx.team.get_only(name="test")

team_ref.df()

   name description                                    id
0  test        Test  3e4dd432-a22b-4636-b00e-38149b22f230

In [8]:
# Assign a team as a contributor on a project

qnx.assignment.assign_team_role(
    resource_ref=project_ref,
    team=team_ref,
    role="Contributor"
)

ResourceUpdateFailed: Failed to update resource with status code: 409, message: {'message': 'Conflict - Resource Already Exists'}

In [ ]:
qnx.assignment.assign_user_role(
    resource_ref=project_ref,
    user_email="vanya.eccles@quantinuum.com",
    role="Maintainer"
)

## Checking Quotas

In [9]:
quota_list = qnx.quota.get()

In [10]:
quota_list.df()

/Users/vanyaeccles/CQC/qnexus/qnexus/references.py:44: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat([item.df() for item in self], ignore_index=True)

,name,description,usage,quota
0,database_usage,Total megabytes used to store scientific data.,13.107318,1000.5
1,simulation,"Total CPU running time, in seconds.",1248.923300,NaN
2,jupyterhub,"Total Jupyterhub notebook server running time,...",37660.000000,NaN
3,compilation,"Total CPU running time, in seconds.",5.002350,NaN

In [11]:
qnx.quota.check_quota("compilation")

True